.main {
  background: linear-gradient(to right, #3e5151, #decba4);
  width: 100vw;
  position: relative;
  top: 0;
  color: white;
  overflow-x: hidden;

  &_heading {
    text-align: center;
    position: relative;
    top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  @media only screen and (max-width: 949px) and (min-width: 550px),
    only screen and (max-width: 549px) and (min-width: 400px),
    only screen and (max-width: 399px) and (min-width: 350px),
    only screen and (max-width: 349px) {
    &_heading {
      top: 1rem;
      font-size: 1rem;
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    &_heading {
      font-size: 0.8rem;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1365px) {
    &_heading {
      font-size: 1.5rem;
    }
  }

  &_functionality {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: ease-in-out 1s all;
    padding-top: 5rem;

    &-species {
      width: 100%;
    }
  }

  &_input {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

.viewcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: ease-in-out 1s all;
  position: relative;
  top: 9rem;
}

@media only screen and (max-width: 949px) and (min-width: 550px),
  only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .viewcontent {
    top: 5rem;
  }
}

.sortBox {
  position: absolute;
  right: 2rem;
  top: 2rem;
  transition: ease-in-out 1s all;
}

@media only screen and (max-width: 949px) and (min-width: 550px),
  only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .sortBox {
    top: 3rem;
    right: 3rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .sortBox {
    width: 100%;
    left: 1.8rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .sortBox {
    width: 100%;
    left: 2.8rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sortBox {
    left: 15rem;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1365px) {
  .sortBox {
    left: 23rem;
    top: 5rem;
  }
}
